{% load i18n %}
{% load compress %}
{% load staticfiles %}


<!DOCTYPE HTML>
<html {% block htmlStyle %}{% endblock %}>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="MobileOptimized"  content="320">
    <meta name="HandHeldFriendly"  content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, maximum-scale=1.0">


	<title>{% block title %}{{ SITE_TITLE }}{% endblock %}</title>


	{% block css %}
		{% compress css %}
			<link rel="stylesheet" href="{% static 'css/base.scss' %}" type="text/x-scss" />
		{% endcompress %}
	{% endblock %}


	{% block js %}
		<script type="text/javascript" src="{% static 'js/vendor/jquery-1.8.2.js' %}"></script>
	{% endblock %}

</head>
<body>
	{% get_current_language as LANGUAGE_CODE %}
	<div id="page" class="{% block page_class %}page {{ LANGUAGE_CODE }}{% endblock %}">
	{% block page %}
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	{% endblock %}
	</div>
	{% include "includes/footer_scripts.html" %}
</body>
</html>
