{% extends "member_base.html" %}


{% load compress %}
{% load staticfiles %}
{% load i18n %}
{% load url from future %}


{% block title %} {% trans '找回密码' %} - {{ SITE_TITLE }} {% endblock %}


{% block css %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/index.scss' %}" type="text/x-scss"/>
    {% endcompress %}
{% endblock %}


{% block header %}
    <div class="header">
        <a class="logo" href="">
            <img src="{% static 'img/header_logo.png' %}" alt="{{ SITE_TITLE }}" />
        </a>
    </div>
{% endblock %}


{% block content %}
    <div id="bread-crumb">
        <a href="{% url 'auth_login' %}">{% trans '登录页' %}</a>
        <span>&gt;</span>
        <span>{% trans '密码修改' %}</span>
    </div>
    <div class="password-form">
        <form action="{{ request.get_pull_path }}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="control">
                <div class="input-box">
                    <label for="" class="control-label ">{% trans "账号" %}</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <p class="reminder">{% trans "请输入账号，如user@example.com" %}</p>
            </div>
            <div class="control">
                <input class="btn-primary find" type="submit" value="{% trans '找回密码' %}" />
            </div>
        </form>
    </div>
{% endblock %}