{% load i18n %}


<table>
    <tr>
        <td style="padding: 5px 0;font-size: 14px;">{% trans '亲：' %}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td style="padding: 5px 0;font-size: 14px;">{% trans '您的密码重设要求已经得到验证。请点击以下链接输入您新的密码：' %}</td>
    </tr>
    <tr>
        <td></td>
        <td style="padding: 5px 0;font-size: 14px;">{% trans '(pleae click on the following link to reset your password:)' %}</td>
    </tr>
    <tr>
        <td></td>
        <td style="padding: 5px 0;font-size: 14px;"><a href="{{ url }}">{{ url }}</a></td>
    </tr>
    <tr>
        <td></td>
        <td style="padding: 5px 0;font-size: 14px;">{% trans '如果您的email程序不支持链接点击，请将上面的地址拷贝至您的浏览器(例如IE)的地址栏。' %}</td>
    </tr>
    <tr>
        <td></td>
        <td style="padding: 5px 0;font-size: 14px;">{% trans '(这是一封自动产生的email，请勿回复。)' %}</td>
    </tr>
    <tr>
        <td></td>
        <td style="padding: 10px 0px;">
            <img src="" alt="{% trans '清华创业俱乐部' %}" />
        </td>
    </tr>
</table>